@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.Logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
}
.Logo img{
    height:40px;
}
.navbar ul{
        height: 40px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        background-color: #032757;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    padding: 12px 50px;
    font-family: 'Fira Sans';
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}
body{
    background-image: url("calimg.png");
    background-size: cover;
}
body{
    text-align: center;
}
body h1{
    font-size: 75px;
    text-align: center;
    color: navy;
}
body h2{
    margin-top: 55px;
    font-size: 40px;
    color: black
}
label{
    margin-top: 20px;
    font-weight: bold;
    font-size: 40px;
    display: block;
    height: 50px;
    color: black;
}
input{
    border:3px solid black;
    block-size: 40px;
    width: 500px;
}
button{
    width: 90px;
    height: 30px;
    margin-top: 20px;
    color: black;
}
#results{
    font-size: 40px;
    color: red;
}

#savingsResult{
    font-size: 40px;
    color: red;
}