@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.Logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
}
.Logo img{
    height:40px;
}
.navbar ul{
        height: 40px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        background-color: #032757;
}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    padding: 12px 50px;
    font-family: 'Fira Sans';
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}
.navbar li a:hover{color:red;
    background-color: blue;} 

h1{
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5rem;
    text-align: center;
    text-decoration:underline;

}
h3{
        text-decoration:underline;
        font-size: 2rem;
        color: darkred;
        text-align: center;
    
}
    h4{
        font-size: 1.8rem;
        text-decoration:dotted;
        color: rgb(36, 19, 3);
    
    }
    p{
            color: rgb(9, 58, 4);
            font-size: 1.5rem;
            text-align: left;
            font-style: bold ;
    }
    body{
        background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAsJCQcJCQcJCQkJCwkJCQkJCQsJCwsMCwsLDA0QDBEODQ4MEhkSJRodJR0ZHxwpKRYlNzU2GioyPi0pMBk7IRP/2wBDAQcICAsJCxULCxUsHRkdLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCwsLCz/wAARCADqAXIDASIAAhEBAxEB/8QAGwAAAwEBAQEBAAAAAAAAAAAAAQIDAAQFBgf/xAAtEAACAgEEAgAFBAIDAQAAAAAAAQIREgMhMUFRYQQTcYGRIjKhwVKxM4Lh0f/EABsBAAMBAQEBAQAAAAAAAAAAAAECAwQABQYH/8QAIREBAQEBAQEBAQADAAMAAAAAAAECEQMSITEEE0EUIlH/2gAMAwEAAhEDEQA/APrkmUUGPGG3BZQPotej8/nl1zYyBizqwElCgT0dry45WmTaZ0yiSlEvnTJvCNs1sZoBRAts1sNAGcFs1s24AuOpPyFN+REOhbFcqJ+x035JKyiJVbMMr8sbfyZIZIlavMhv5YVl5CkNixOqTIJvyUg3a3FUX4HSEqki8JPyXjN+TkToopmbWOt3lvjq+Y/IstT2c/zNhXMWea2vf/h5zbvck5PyK5k3Jl844xb32nc2DJ+RLNZX5SPl7Gtk0USFsPmHi35Hy9k7QbJWLxTJ+TZPySsFnfJ5Vsn5A2/JLJhcjvk3Wbl5Yqm/IchJeUPIWnzfkGbI5PgOQfkPpXN+TZvySyNkd8n+llN+R1qPyc2TDk0C4PnTo+Y/JjmzZhf9Z/tWEdiijQIL/RQGr+sHnktCzgWSFkthZr9U3icck4ohJHVNckJI1408r1y52haKtC0aJWOxOjUPQKG6HynQKKUCh+u4ShkGgpUC1TMMPHcVDpVsS1WjMOkysYggjohDjYzb1xt8vP6IoDrT9F4wKrTRlvq9DH+K5cBcDs+WI4ehZ6H1/jccrQtlpL0RaLZvWTfnc0LYrkzMUrIjexmwbmAPExMDkaKOpszp4odGSHUSNrVnHSG3HxFaF6p8cJYHI0ibKSJ84dyBkTcgORT5L1TI2RLI2Qfk3TT8oRSM5E2xuEtWyNZOw2DhppTI1k7DfoHDSmswPsYHHddsaoqmiCew6Zm1EPPfFrROTBkI5C5yffr+Fn2RkUkycjTl53p+pNAodmotKzc6nQKKUag9H5TxBiVoFB+h+UqNRTE1B+hmQiiiW6FRWCsnqtOM9q2nHg69OPBLTidUEtjz/XT3P8byikYoekaITHb16+MyBSEceSuwr7OlHWJxyTic84nbJLc55pGrz08z28nI09xGjoaEcTVnTz9eXELBZRxEaKyo3HAKwROlZaFC6/innn9ViiiQsaKqjLa9LHnCOIkkXaVE5UCVTXnHPJEJbHRM55s1ef6w+meJtiORpMRs0yMtp7NZLIGQ3yHVXIURsDlQZl3TWOpEHLcKkG5Dq+QU7I5IaMkTueHlX2MLkjCcP11pjWIgkLHmS0zYGwAZ3BttbkVhNQ0IWjUNRqD10ySjUPRqD03ySkCh6NR3R+U6NRSjUHppksUWghUisUS3pq8cfq0dqOiHRCLLRZj29rx/F0MTTGszWPQzTAk+QNiNnSDqkkyEismRkacRi9CMWhmLZeMlhWibRViseJ6zEK3RWAkkaLorf2EzOV1QZVM5oyKqRl1lvxVW9hJMDlsTkwZyfVJqM5ZstORzzfJs848/1TkybYZMm2a5OMdGwWK2KNIU7ZoxlN0uuW+ET/8Ap1wWMYpen+TtXhs5+mWjCnbk/wACy0qTcf1Jc7UyobI/VU+I5U4vodUT1FjqSS4e6+5ospZ2dL/HQYnZhPk3Xp0aijiBow/Tz/iwlIFD0APXfIUahgHdH5CjUNRqR3RmS0ahqRqR3VOFoFDmoPR+SUGhqRqB08w0UVSFiilEtVs88iikWTSGRO/rZj8VTGyJWGyVjXNKOXoRsXIVtsMy66CTEbGakJTKxDXaArGaYhSJ8C2hW2MxCkTsLLsS6HbFpFJSWfp4sopMkth7EsVz+GyYkpAbZOTDnLtaLKRCbHkyMnZpxGPd6ST3EbDIRmiRCszAseEJTlGK7fP9hv5Ak7S030+q+p3wTlGDpran9UV09LTgqit+2+yySRj37dbfPws/XNjXQrXdHRqYwpu9/ucmpqN2kqXns7Nuh3mZc2q8py9bfYRXY8lyT7Nc/nGL/qlmEswOD2PpXERxLtbCtHhzSl8+udxoWi7jZNqmVmkNefCfg34CYbpfkDGCHruAYwTumkAwQoFppASNQQgXzlolEIthkxK04hggCKvIxrMMl+RVZLQSQb5owrZx+cBsBg7jBzpWK4plKNQ3Q+XO1T4JtHVKNkXFopnSWsIhaGaFuiqfOFDexrRqkwuBsnJjyUkRk2PlPV/+lkRls2PKRGTbNOYzaLJ8k2xpMm2WkQpkzq+E/wCT/q6OON2dWjcWpLoT0n5xTz/vXppKkMThqQklvT8MZyiuWjzrL/Hpyz+9Lrft+5yy3RTU1M2vCW1k3wXxORm9LLXPJcknyy0+yL7NWWPUAwLMUJx9awMZoDR803/JGickVoWS2HlJrHXO0CmUaFLSs9yUwWgDBxjGQaCaZAZIMUOoiWrZ8+ko1FcPRsRfponkluGxnFiMP9H54axkyYyaOsUzTrkaxY8WMTac/wAYRsLYoYFFDKhUMg00ZUYxhRBk5rYoB8MMvKGp1zNEpFpEZcmrLLpoq2ilCw2dvsozr/RzE2c2qqdrs6ZdnPqvheP7KY/qXo5ZJk2WYjRslZLEWmLiyziwYj/SVynGJ0aexNKikXTE1enzOOhLZGaEU0NmiHKuwrZnJdE5SGkJq8LN8kG+R5SIuXJozGe0bMTsxThOvtWgNWMwUvR8tK9f5LQGiiRqD0/+vrnlEk0dMokmi2dM3p5ItCjyW4r5LRnueAhkKPENHMUiiiiCKKpGbden5Y/OhiZxGAxOtHzIk0Ski73EaK5qWs9So1D0bEp1KYGPCCZLZhJrz+EYqGYvY0LRHRMaLBXSmMCzAMwGESTDI61GfL+pF8lZPdkpcmrP8ZdDubN+BbBa9DcL0ZTbT2Od2Uk+hKKZnEtXqTQMSlBor1LiVCtFXYjOlCxJ7GTCKysTNkbMm3sK2NJ0PpVyEcybkJKQ0yTWhlITIVyEcisylarZiORg8Dr741GCj5J9DnIpGxCFC9aM5TlEm4HQxJUNnQa85XJKJJx3OmSJM050w780WgxGaMinUZnlWh0VsjFj2Q1P16Hnfw9sV2CwWDilG0Kwi3YYWjV2ajLsJ1ro3BmBhQHJsm7LMjIrlPYXRk7JtmTZTiXVlIbIimxshfk80dsSctg2uWSk7foMjrorZNlGI0y2UaUFBMP1PhGthaRRi0NKBaNsMjNHdLxJiNFWTY8JYi0xWVkTkWynU2SkyknsSZXKVLYsmZsSTLRKlbFbC2ApCBbMGmYIP0BhTA2Cz459JLxSw2TTNZ3ytNHbJyZmybkNMu1sJMm2aTJtmjMZN1mzJ7oWzq+H01itSStv9vpHavzOk88feuFjp6rVqLr2Z5RdSTTZ1CySaafBD7tv63/6pJ+IZIFryS1G4ScfuvoxM/ZaZ7/Ga+vLyuiNy2j/AD4H+XH2LofsT/ybf/hXknb+r5nZ0uFcWI2VJzVP+QSjfwABBuMUGyckMybtD5T1+kaAguXoRy9FYkdGbS7EtsAeO6Zyb+hgIJ38BgUNRqO65NxBRWhaGmi2JUBoo0I0PKSwoGEzqmEqb7EZR9k2UidTkTlwUkSkWynYlJkZMpPsizThGlbYrC7NTKpECkNQUg9LwtGHox3Xcfc2K2IpGbPlJOPd+jWDJ+RbFseTpvo7kI5MDZNyKTJLtmxGzNiWUkQ1oW+T0tJr5elXGEV+Dy2/9l/h/iFBYTf6buL/AMW+mJ657Ff8f1mdf+zvbBYt3TTTXlcCamtp6aeTTlW0VvJszSd/Hpa3JO9cnxkktRJc42/yc2bNqzlOcpyauTbaXXhEbPR888zOvC9fTurY9L4XVjKL02/1J2vaZ1Ls8aEmmmnT6aO3T+I1Kp4v3wzP6edl7G3w95Z812WTbt39kJ8yUuX+A+CXONP3KIDAC7oMSXDHNjyNE7EJcImWlHwS7KxOgYwUHoMHcA1A65txkjIILRBpgaHA+ASjxJk2UZNlM1KkYGMxGUidB+yUrsq3sTkVhKlKyTLS2JS/ormp1GRJotJck2jRmo2JNM1D0CivSWFMZs1jENRhLMcD7JBFexr5PmXqyi+hbM2LY0hvpmxWFsVlJC2kYjGYjKxHVLfIDNi2On9H+gLFs1gsD6CQg0mIPE9U0XwdMGcqLQYmot5a5XZF7FEznjL2VTM2svQxrp7BbBYLE4p0y3YWIpbhbOd9QrJzW6fkdk5O3XgeE1S0GjIKQSMkGhkhqFtMCRqGSDQOm4SgPgdoV8HSuv4kycij7EZbN4jU2IyjTFrdFJU+EEZVonJFJS1KRF9lpJkpFspVKXYjRRpitF4nUwND0IykTpJImyj7JS7LZTsLkYnZivAfdsVsrq6ctOr3T4ZBs+SzevT3Lm8oNi2ZiF5Efo1gbYthG4P0VsRsZiMpCapGDgLG09N6s1HeuZNdIbsk7Uv3V5CLfZLf0Z/p5TX1VHqQhDTSUI177f1ZpRjJNSSafTIf7mz/AMWyft/XjyYC/wARo/Kmqtwlbi3yq5RJfQ0TUs7GDcudcrIeLAojpC2nypFlVJkEh1ZPTZjfFsgOQlmJq/ZsjKckhNxkcE02UmBev5DQaO6aUEmMgIdIFpoKRRRAkUSJWr5haRqHoNcg6pxJk5FmiUhspbQd7isdoVloz0jTYtDBoeFTaJyLNEpIpCVB9kpWWaonLc0ZqVRYrHlERovE6RiMdiMrEqSRKRWRNrnYtPwjnpmHxZh/p3H6Prxy05rum19jy5cnqa08dObvfFpe29jy2fIeP8r1v8+z6nCNimkLexsjzPtg2LYbKcCaZiMZsVjDdEZ0/CVer5/T+DmbNp6z0pqVWqqS9HazdZ5A8/SY3LXqWCxI6kNRKUJJr1z90M3FJuTSj5boyc49f/ZL/wBQ+LV6cW+c9vrRxqJfW1PmyqP7I2o+W3y2IkXz+T9eb7am99yCj6GpjpDJAtdnJEgodI2IvVZKXYw+IcReqSEoyQ9AoHTyNRqoIAGZIpERDo6nyoh0hFQyJNGT0DyGxWwHBkJFZMkymUd1MVpDsRlYhS7GpBMN0qcibRZom0UzSVGSJNHQ0Tki+anXPJck3EvJck2i+alUGhGizQuDLTRKi4gx5OjADhSG+yWOXAxevRjvsvH1urqS1HvtFcL+znZ0Psm+z57E4r6bu72ueROR0sjI0ZZrfxC2bMLAVkQ+62YHIJh+G+6k5WIVYEPIS6tIrTtNr6bFVlLlt/V2BFYiaimdX+Ml/A6QV/ZVEK04KkFDrkfpEmrJKNRQwqyYRxv/AAU8SoFFjPsAoOqQpd8MUYE0FMcKCMKpFFIC5GQlis1Y2QGxlwYHD/VqTYrLMVjQtRYhcVlImiYqwDlSYjL9isaFrmaJyR0yEfRbKOnK0TaOqRNl8krnxCoFlwxo8oa3hEY6foMtM6UZ8MT7oWOP5ZjrMN9UvH//2Q==");
    background-size: cover;
    
    }
    h2{
        align-items: center;
    justify-content: center;
    color: black;
    font-size: 2.5rem;
    text-align: center;
    }