@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
.Logo{
    display: flex;
    color: white;
    align-items: center;
    margin: 0 14px;
}
.Logo img{
    height:40px;
}
.navbar ul{
        height: 40px;
        padding: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        justify-content: center;
        background-color: #032757;
}
 
    
.navbar li a:hover{
        height: 30px;
        color:red;
        background-color: whitesmoke;}

.navbar li{
    list-style: none;
}

.navbar li a{
    text-decoration: none;
    padding: 12px 50px;
    font-family: 'Fira Sans';
    font-weight: bold;
    color: white;
    font-size: 1.3rem;
}